/*.graph{
}*/

/*#map{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}*/

#valuesTable{
	background-color: #6699FF;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 1%;
	top: 50px;
	height: 100%;
	width: 23%;
	color: white;
	z-index: 1;
	overflow: auto;
}

#lastupdated{
	position: relative;
	left: 10px;
	font-size: 10px;
}

#locationheader{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: bold;
	font-size: 25px;
	position: relative;
}

/*#legend{
	position: relative;
	left: 77%;
	top: 60%;
	width: 20%;

	background-color: #6699FF;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: bold;
}

.sublegend{
	display: inline-block;

}

#legend_container{
	position: absolute;
	margin-left: 5px;
}

#legendtable{
	position: absolute;
	bottom: 70px;
}

#graphContainer{
	z-index: -10;
	position: fixed;
	top: 90px;
	width: 100%;
}


#toGraph{
	color: black;
	position: relative;
	top: 10px;
}

#graphButton{
	position: relative;
}

#logo{
	height: 25%;
	width: 25%;
}

#backToMap{
	float: right;
	position: relative;
	right: 1%;
	background-color: white;
	height: 30px;
	width: 40px;
	z-index: 5;
	color: gray;
	font-size: x-small;
	line-height: 10px;
	text-align: center;
	cursor: hand;
}
*/

.values{
	font-size: 22px;
}

/*#contactLink {
	font-size: 10px;
}
*/
table{
	border-collapse:separate;
	border-spacing:0px 0px;
	font-style: bold;
}


table.table#temprh > tbody > tr > td {
	border: 0;
}

/*.leaflet-google-layer{
	z-index: 0;
}

.leaflet-map-pane{
	z-index: 100;
}

.image_navbar {
	padding: 10px 5px;
}*/

#temprh {
	padding-top: 10px;
	font-size: 12px;
}

.table>tbody>tr>td.pollutantName {
	border-top: 0px;

}

.table-condensed>tbody>tr>td {
	padding: 0.5px;
}

.table-condensed>tbody>tr>td.pollutantFull {
	padding-bottom: 5px;
	font-size: 10px;
}

.pollutantValue {
	text-align: right;
}

/*#xButton {
	line-height: 30px;
}

.unitlabel {
	text-align: right;
	font-size: 10px;
}

#dylos{
	color: white;
}*/
